{% extends 'base.html.twig' %}


{% block body %}


{{ form_start(form) }}

{{ form_row(form.gender) }}
{{ form_row(form.name) }}
{{ form_row(form.surname) }}
{{ form_row(form.email) }}
{{ form_row(form.age) }}
{{ form_row(form.weight) }}
{{ form_row(form.height) }}


<button type="submit">Valider!</button>

{{ form_end(form) }}

{% endblock %}
